Unit]
Description=Random script execution
After=docker.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/usr/bin/start.sh
ExecReload=/usr/bin/start.sh

[Install]
WantedBy=multi-user.target
